body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/****** HEADER (start) ******/

header{
    position: sticky;
    top: 0;
    color: white;
    z-index: 0;
}

header .navbar{
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-brand{
    font-weight: bold;
}

header .offcanvas{
    background-color: rgba(0, 0, 0, 0.5);
}

nav a{
    color: white !important;
}




#intro_video {
    z-index: -1;
    object-fit: cover;
    width: 100%;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bistro-name{
    font-size: 8vw;
    font-weight: bold;
    white-space: nowrap;
}
.bestellung, .phone{
    text-align: center;
    margin: 1rem;
}
.bestellung a{
    padding: 1rem 5rem;
    font-size: 1.5rem;
}
/****** HEADER (end) ******/






/****** MAIN (start) ******/
main{
    position: relative;
    z-index: 1;
    margin-top: 30vw;
    background-color: white;
    box-shadow: 0px -20px 10px 10px white;;
}

.hide_video {
    /*js , hide video if scroll window up*/
    opacity: 0.3;
    transition: 1s ease-in-out;
}
/****** MAIN (end) ******/





/****** RESPONSIVE (start) ******/
@media (max-width:1024px) {
    main{
        margin-top: 20vw;
    }
}
@media (max-width:759px) {
    .bestellung, .phone{
        text-align: center;
        margin: 0.5rem;
    }
    .bestellung a{
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
    }
    main{
        margin-top: 15vw;
    }
}
@media (max-width:500px) {
    nav a{
        font-size: 16px !important;
    }
    .navbar{
        padding: 0;
    }
    .navbar-toggler{
        padding: 0.1rem;
    }
    .bestellung a{
        padding: 0.2rem;
        font-size: 1rem;
    }
    .phone a{
        padding: 0.2rem;
        font-size: 0.5rem;
    }
    .bestellung, .phone{
        margin: 0.1rem;
    }
    .header-content{
        top: 60%;
    }
}
/****** RESPONSIVE (end) ******/