/****** GOOGLE FONT (start) ******/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/****** GOOGLE FONT (end) ******/



body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
}





/****** NAVBAR (start) ******/

.navbar{
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgba(151, 133, 74, 0.3);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 999;
}

.offcanvas{
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link{
    color: white !important;
}

.logo{
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100%;
}

/****** NAVBAR (end) ******/





/****** HEADER (start) ******/

header{
    position: sticky;
    top: 0;
    color: white;
    /* z-index: 0; */
}

#intro_video {
    z-index: -1;
    object-fit: cover;
    width: 100%;
}

.hide_video {
    /*js , hide video if scroll window up*/
    opacity: 0.3;
    transition: 1s ease-in-out;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bistro-name{
    font-size: 8vw;
    font-weight: bold;
    white-space: nowrap;
}
.bestellung, .phone{
    text-align: center;
    margin: 1rem;
}
.bestellung a{
    padding: 1rem 5rem;
    font-size: 1.5rem;
}
/****** HEADER (end) ******/






/****** MAIN (start) ******/
main{
    /* z-index: 2; */
    position: relative; /*again position:sticky of header*/
    margin-top: 3vw;
    background-color: white;
    box-shadow: 0px -10px 10px 10px white;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8vw 2rem;
}
section:nth-child(odd){
    flex-direction: row-reverse;
    justify-content: space-between;
}
.section-img{
    width: 60%;
    box-shadow: -8px 8px 10px 0px black;
}
section img{
    object-fit: cover;
    width: 100%;
}
section p{
    font-size: 3rem;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

iframe{
    width: 100%;
}
/****** MAIN (end) ******/





/****** FOOTER (start) ******/
footer{
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* background-color: #4C361E; */
    background-color: rgba(151, 133, 74, 1);
    color: white;
    margin: 0;
    padding: 1rem;
    height: fit-content;
    position: relative; /*again position:sticky of header*/
}
/****** FOOTER (end) ******/





/****** BTN ONTOP (start) ******/
#onTopButton {
    font-size: 2rem;
    padding: 0.5rem;
    position: fixed;
    bottom: 8vh;
    left: 1rem;
    display: none;
}
#onTopButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 4px;
}
/****** BTN ONTOP (end) ******/





/****** RESPONSIVE (start) ******/
@media (max-width:759px) {
    .bestellung, .phone{
        text-align: center;
        margin: 0.5rem;
    }
    .bestellung a{
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
    }
    main{
        margin-top: 4vw;
    }

    section p{
        font-size: 4vw;
        font-family: 'Patrick Hand', cursive;
    }
}

@media (max-width:500px) {
    .logo{
        width: 3rem;
        height: 2rem;
    }
    .nav-link{
        font-size: 0.8rem;
    }
    .navbar{
        padding: 0;
    }
    .navbar-toggler{
        padding: 0.2rem;
        font-size: 0.8rem;
    }
    .bestellung a{
        padding: 0.2rem;
        font-size: 1rem;
    }
    .phone a{
        padding: 0.2rem;
        font-size: 0.5rem;
    }
    .bestellung, .phone{
        margin: 0.1rem;
    }
    .header-content{
        top: 60%;
    }

    
    main{
        margin-top: 7vw;
    }
    
    section:nth-child(odd){
        flex-direction: column;
    }
    section{
        flex-direction: column;
        padding: 1rem;
    }
    .section-img{
        width: 80%;
    }
    section p{
        margin: 2rem;
    }
    
}
/****** RESPONSIVE (end) ******/