
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">            
            <a class="navbar-brand" href="http://www.thuan-asianfood.de/">
                <img src="media/logo.JPG">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-reset bg-light"
                        data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end text-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.thuan-asianfood.de/#menu" onclick="show('menu')">MENÜ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#open-hours">ÖFFNUNGSZEITEN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-success btn-sm" href="https://goo.gl/maps/BRQGHNnVfww9YgDG6">
                                <i class="fas fa-map-marked-alt"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-success btn-sm" href="tel:+4989123456789">
                                <i class="fas fa-phone-square-alt"></i>
                                089123456789</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>