<!-- FOOTER -->

<footer>
    <div>
        <h4>ÖFFNUNGSZEITEN</h4>
        <p>Mo-Sa: 10:30 - 19:30</p>
        <p>Sonntag & Feiertag: geschlossen</p>
    </div>
    <div class="company">
        <h4>UNTERNEHMEN</h4>
        <p>
            <a href="tel:+4989123456789">
                <i class="fas fa-phone-square-alt"></i>
                089123456789
            </a>
        </p>
        <p>
            <a href="mailto:info@thuan-asianfood.de">
                <i class="fas fa-envelope"></i>
                info@thuan-asianfood.de
            </a>
        </p>
    </div>
</footer>
<footer>
    <div>
        <p class="text-center fs-4">
            <a href="https://goo.gl/maps/BRQGHNnVfww9YgDG6">
                <i class="fas fa-directions"></i>
                Wolfratshauser Str. 152 82049 Pullach (im AEZ)
            </a>
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56082.307478056035!2d11.464066165531888!3d48.03669803860711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddb8b4bbfcb41%3A0x11a2c73bbbaea55a!2sWolfratshauser%20Str.%20152%2C%2082049%20Pullach%20im%20Isartal!5e0!3m2!1sde!2sde!4v1636931573404!5m2!1sde!2sde"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
        <p class="text-center">
            <a href="impressum.html">Impressum</a>
            |
            <a href="policy.html">Datenschutzerklärung</a>
        </p>
    </div>
</footer>